@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<ul>
    <li><a asp-controller="DoctorJointModels" asp-action="Delete">Doctors</a></li>
    <li><a asp-controller="EquipmentModels" asp-action="Delete">Equipment</a></li>
    <li><a asp-controller="DepartmentModels" asp-action="Delete">Rooms and Departments</a></li>
    <li><a asp-controller="ScheduleModels" asp-action="Delete">Schedule and Shifts</a></li>
    <li><a asp-controller="DrugModels" asp-action="Delete">Drugs</a></li>
    <li><a asp-controller="PatientJointModels" asp-action="Delete">Patients</a></li>
    <li><a asp-controller="MedicalRecordModels" asp-action="Delete">Medical Records</a></li>
</ul>
