@{
    ViewData["Title"] = "Modify";
}

<h2>Modify</h2>

<ul>
    <li><a asp-controller="DoctorJointModels" asp-action="Edit">Doctors</a></li>
    <li><a asp-controller="EquipmentModels" asp-action="Edit">Equipment</a></li>
    <li><a asp-controller="DepartmentModels" asp-action="Edit">Rooms and Departments</a></li>
    <li><a asp-controller="ScheduleModels" asp-action="Edit">Schedule and Shifts</a></li>
    <li><a asp-controller="DrugModels" asp-action="Edit">Drugs</a></li>
    <li><a asp-controller="PatientJointModels" asp-action="Edit">Patients</a></li>
    <li><a asp-controller="MedicalRecordModels" asp-action="Edit">Medical Records</a></li>
</ul>
